<section class="nav-bar">
    <div class="lang-nav-wrapper">
        <div class="lang-btn">
            <a class="lang" (click)="selectLanguage('EN')" [class.active]="selectedLanguage === 'EN'">EN</a>
            <a class="lang" (click)="selectLanguage('DE')" [class.active]="selectedLanguage === 'DE'">DE</a>
            <a class="lang" (click)="selectLanguage('RU')" [class.active]="selectedLanguage === 'RU'">RU</a>
            <div class="active-bg"></div>
          </div>
          
  
      <nav>
        <a>About me</a>
        <a>Skills</a>
        <a>Projects</a>
      </nav>
    </div>
  
    <img
      src="./../../../assets/img/header/vanessa_text_filled.svg"
      alt="logo"
      [class.d-none]="isHovered"
      [class.d-block]="!isHovered"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    />
    <img
      src="./../../../assets/img/header/vanessa_text_unfilled.svg"
      alt="logo"
      [class.d-none]="!isHovered"
      [class.d-block]="isHovered"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseLeave()"
    />
  </section>
  