.custom-reference-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.custom-reference {
    max-width: 1440px;
    padding-bottom: 50px;
    text-align: center;
    padding-top: 50px;
    width: 100%;

    h1 {
        font-family: 'Fira Code', monospace;
        color: #3dcfb6;
        font-weight: bold;
        text-align: center;
        margin: 50px 0;
    }
}

