<section>
    <footer>
      <div class="left">
        <img src="./../../../assets/img/header/vanessa_text_filled.svg" alt="Logo" />
        <div class="txt-container">
          <p>Web Developer</p>
          <p>Berlin, Germany</p>
        </div>
      </div>
  
      <div class="middle">
        <p class="copyright">© Vanessa Sachs 2024</p>
      </div>
  
      <div class="right">
        <div class="empty"></div>
        <a target="_blank" href="https://github.com/Vanski3">GitHub</a>
        <a href="#contact">Email</a>
        <a href="#imprint">Imprint</a>
      </div>
    </footer>
</section>
