<app-header></app-header>

<section>
    <div class="imprint">
        <div class="main-content">
            <h1>{{ 'imprint.imprintTitle' | translate }}</h1>
            <p>{{ 'imprint.personName' | translate }} <br />
                {{ 'imprint.address' | translate }} <br />
                {{ 'imprint.zip' | translate }}</p>
            <h2>{{ 'imprint.contactTitle' | translate }}</h2>
            <p>{{ 'imprint.email' | translate }}: contact&#64;vanessa-sachs.com</p>
        </div>
    </div>

    <app-privacy></app-privacy>
</section>
   

    