<section class="imprint">
    <div class="fix-btn">
        <a routerLink="/" routerLinkActive="active"><img class="go-up-btn" src="./assets/img/imprint/up.png"
                alt="back arrow"></a>
        <div class="main-content">
            <h1>Imprint</h1>
            <p>Vanessa Sachs<br />
                Gertrud-Kolmar-Str. 5 <br />
                10117 Berlin</p>
            <h2>Contact</h2>
            <p>E-Mail: contact&#64;vanessa-sachs.com></p>


        </div>
    </div>
</section>
   

    