<section class="skill-section">


    <div class="left-section">
        <h3>Technologies</h3>
        <div class="skills">
            <h2>Skill Set</h2>

            <h4>Frontend Technologies</h4>
            <p>Proficient in HTML, CSS, and JavaScript, with a strong foundation in responsive design.</p>
            <h4>Frameworks & Libraries</h4>
            <p>Experienced with Angular, Bootstrap, and Material Design for building modern, user-friendly applications.
            </p>
            <h4>Development Tools </h4>
            <p>Familiar with Git for version control, Scrum for agile project management, and Firebase for backend
                integration.</p>
            <h4>APIs</h4>
            <p>Skilled in integrating and developing RESTful APIs to enable seamless data communication.</p>
            <div class="btn-wrapper">
                <a href="#contact"><span>Let's talk</span></a>
            </div>
        </div>
        
    </div>


    <div class="right-section">
        <div class="icon-section-wrapper">
            <div class="icon-wrapper">
                <img class="icon" src="./../../../../assets/img/skills/html.svg" alt="html">
                <p>HTML</p>
            </div>

            <div class="icon-wrapper">
                <img class="icon" src="./../../../../assets/img/skills/css.svg" alt="css">
                <p>CSS</p>
            </div>

            <div class="icon-wrapper">
                <img class="icon" src="./../../../../assets/img/skills/Javascript.svg" alt="JavaScript">
                <p>JavaScript</p>
            </div>

            <div class="icon-wrapper">
                <img class="icon" src="./../../../../assets/img/skills/material_design.svg" alt="Material Design">
                <p>Material <br> Design</p>
            </div>

            <div class="icon-wrapper">
                <img class="icon" src="./../../../../assets/img/skills/typescript.svg" alt="typescript">
                <p>TypeScript</p>
            </div>

            <div class="icon-wrapper">
                <img class="icon" src="./../../../../assets/img/skills/angular.svg" alt="Angular">
                <p>Angular</p>
            </div>

            <div class="icon-wrapper">
                <img class="icon" src="./../../../../assets/img/skills/Firebase.svg" alt="Firebase">
                <p>Firebase</p>
            </div>

            <div class="icon-wrapper">
                <img class="icon" src="./../../../../assets/img/skills/git.svg" alt="Git">
                <p>Git</p>
            </div>

            <div class="icon-wrapper">
                <img class="icon" src="./../../../../assets/img/skills/Api.svg" alt="rest-api">
                <p>Rest-Api</p>
            </div>

            <div class="icon-wrapper">
                <img class="icon" src="./../../../../assets/img/skills/scrum.svg" alt="scrum">
                <p>Scrum</p>
            </div>

            <div class="icon-wrapper">
                <img class="icon" src="./../../../../assets/img/skills/cl.svg" alt="continuous learning">
                <p>Continuous <br> learning</p>
            </div>

        </div>
    </div>
</section>