$accent-clr: #3dcfb6;

.background {
  background: linear-gradient(to right, #1c1c1c, #08463b);

  .landingpage {
    height: 100vh;
    padding-top: 40px;
    font-family: "Karla";

    .center-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 220px;

      .headline-wrapper {
        text-align: center;

        .headline {
          font-size: 3rem;
          margin-bottom: 0;
          font-family: "Fira Code";
          font-weight: 400;
        }

        .subline {
          font-size: 6.5rem;
          margin-top: 0;
          margin-bottom: 42px;
        }
      }

      .btn-wrapper {
        display: flex;
        gap: 45px;

        a {
          text-decoration: none;
          color: #f5f5f5;
          border: 1px solid #f5f5f5;
          padding: 10px 20px;
          border-radius: 30px;
          overflow: hidden;
          display: inline-block;
          position: relative;
          transition: all ease 200ms;

          &:hover {
            color: $accent-clr;
            border: 1px solid $accent-clr;

            span {
              display: inline-block;
              animation: slideOutIn 500ms forwards;
              transition: transform 1s ease, opacity 1s ease;
            }
          }
        }
      }
    }


    .lines-icons-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 40px;
      .left-line-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .arrow-wrapper {
          border: 1px solid $accent-clr;
          border-radius: 50px;
          img.scroll-arrow {
            height: 100%;
            animation: bounce 2s infinite;
          }
        }
        .left-line {
          height: 200px;
          width: 1px;
          background-color: $accent-clr;
        }
      }
      .right-line-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        .email {
          writing-mode: vertical-lr;
          text-decoration: none;
          color: #f5f5f5;
          margin-right: 8px;
        }
        .icon-dot-wrapper {
          position: relative;
          display: flex;
          align-items: center;
        
          .icon-green {
            width: 32px;
            height: 32px;
            transition: fill 0.3s ease;
          
            path {
              fill: #3DCFB6; // Default color
            }
          
            &:hover path {
              fill: #f5f5f5; // Hover color
            }
          }
          }
        
          .dot {
            width: 8px;
            height: 8px;
            background-color: $accent-clr;
            border-radius: 50%;
            opacity: 0;
            margin-left: 5px;
            transition: opacity 0.3s ease;
          }
        
          &:hover .dot {
            opacity: 1;
          }
        }
        
        .right-line {
          height: 120px;
          width: 1px;
          background-color: #f5f5f5;
          margin-right:10px;
        }
      }
    }
  }


// KEYFRAMES
@keyframes slideOutIn {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  51% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

// RESPONSIVE
@media (max-width: 740px) {
  .subline {
    font-size: 4rem;
  }
}
