<div class="background">
  <section class="landingpage">
    <nav>
      <app-header></app-header>
    </nav>

    <div class="center-content">
      <div class="headline-wrapper">
        <h1 class="headline">Frontend Developer</h1>
        <h2 class="subline">Vanessa Sachs</h2>
      </div>

      <div class="btn-wrapper">
        <a href="#projects"><span>Check my work</span></a>
        <a href="#contact"><span>Contact me</span></a>
      </div>
    </div>

    <div class="scroll-down-wrapper">
      <div class="img-border">
        <img
          class="scroll-arrow"
          src="./../../../../assets/img/landing-page/scroll_arrow.svg"
          alt="arrow scroll down"/>
      </div>

      <div class="left-line"></div>
    </div>

    <div class="mail-icon-wrapper">
        <a href="#contact">contact&#64;vanessa-sachs.com</a>
        <a href="https://github.com/Vanski3"><img src="" alt=""></a>
    </div>
  </section>
</div>
