<section class="about-section">

    <div class="left-section">

        <div class="image-wrapper">
            <img class="profile" src="./../../../../assets/img/about-me/me-avatar.JPG" alt="Profile Picture">
            <div class="hover-image">
                <img src="./../../../../assets/img/about-me/hover-img.svg" alt="Hover Image">
            </div>
        </div>
    </div>

    <div class="right-section">

        <h3>Who I am</h3>
        <div class="about-me">


            <h2>About me</h2>

            <p>I'm Vanessa Sachs, a frontend developer based in Berlin, specializing in HTML, CSS, JavaScript, and
                Angular. My passion lies in creating visually appealing and functional user interfaces that enhance the
                overall user experience. I am dedicated to continuous learning and staying up-to-date with the latest
                trends and technologies in web development.
                <br>
                <br>

                With a strong focus on user-centered design, I strive to build intuitive, responsive, and engaging web
                applications. I enjoy collaborating with cross-functional teams to turn complex ideas into elegant
                solutions. Whether it's developing a new website or improving an existing platform, I am committed to
                delivering exceptional results.

            </p>
        </div>
    </div>
</section>