<section class="about-section">

    <div class="left-section" data-aos="fade-up" data-aos-duration="3000">

        <div class="image-wrapper">
            <img class="profile" src="./../../../../assets/img/about-me/me-avatar.JPG" alt="Profile Picture">
            <div class="hover-image">
                <img src="./../../../../assets/img/about-me/hover-img.svg" alt="Hover Image">
            </div>
        </div>
    </div>

    <div class="right-section" data-aos="fade-up" data-aos-duration="3000">

        <h3> {{'aboutMe.whoIAm' | translate}}</h3>
        <div class="about-me">


            <h2>{{'aboutMe.aboutMe' | translate}}</h2>

            <p>{{'aboutMe.introduction' | translate}}
                <br>
                <br>
                {{'aboutMe.moreAboutMe' | translate}}
            </p>
        </div>
    </div>
</section>