$accent-clr: #3dcfb6;
$font-color: #f5f5f5;
$fira-ft: 'Fira Code';
$karla-ft: 'Karla';

.contact-section {
  display: flex;
  justify-content: space-between;
  padding: 70px;
  margin: 0 auto;

  .left {
    flex: 1;
    padding-right: 32px;
    color: $font-color;

    h3 {
      font-size: 1.5rem;
      color: $accent-clr;
      margin-bottom: 16px;
      font-family: $karla-ft;
    }

    h1 {
      font-size: 3rem;
      color: $accent-clr;
      margin-bottom: 24px;
      font-family: $fira-ft;
      font-weight: bold;
    }

    h2 {
      font-size: 1.25rem;
      color: $accent-clr;
      margin-bottom: 24px;
      font-family: $fira-ft;
    }

    p {
      margin-bottom: 24px;
      font-family: $karla-ft;

      a {
        color: $accent-clr;
        text-decoration: none;
        &:hover {
          color: white;
        }
      }
    }
  }

  .right {
    flex: 1;

    form {
      .form-group {
        margin-bottom: 1.5rem;
        position: relative;

        label {
          display: block;
          font-size: 1.25rem;
          color: $accent-clr;
          margin-bottom: 8px;
          font-family: $fira-ft;
        }

        input,
        textarea {
          width: 100%;
          padding: 0.5rem;
          background: none;
          border: none;
          border-bottom: 1px solid $accent-clr;
          color: $font-color;
          font-size: 1rem;

          &::placeholder {
            font-family: $karla-ft;
          }
        }

        textarea {
          height: 100px;
          resize: none;
        }

        &.error input,
        &.error textarea {
          border-bottom: 1px solid red;
        }

        .error-message {
          color: red;
          font-size: 0.9rem;
          position: absolute;
          bottom: -20px;
        }
      }

      .form-check {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        input {
          display: none;
        }

        label {
          color: $font-color;
          font-size: 1rem;
          cursor: pointer;

          img {
            width: 20px;
            height: 20px;
            margin-right: 0.5rem;
          }

          a {
            color: $accent-clr;
            text-decoration: none;

            &:hover {
              color: $font-color;
            }
          }
        }
      }

      button {
        text-decoration: none;
        background-color: transparent;
        color: $font-color;
        border: 1px solid $font-color;
        padding: 10px 20px;
        border-radius: 30px;
        overflow: hidden;
        display: inline-block;
        position: relative;
        transition: all ease 200ms;
        cursor: pointer;
      
        span {
          display: inline-block;
          animation: none; 
        }
      
        &:hover {
          color: $accent-clr;
          border: 1px solid $accent-clr;
      
          span {
            display: inline-block;
            animation: slideOutIn 500ms forwards;
            transition: transform 1s ease, opacity 1s ease;
          }
        }
      
        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }
  }

  .unchecked-checkbox {
    display: block;
  }

  .checked-checkbox {
    display: none;
  }

  // KEYFRAMES
  @keyframes slideOutIn {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    50% {
      transform: translateX(-100%);
      opacity: 0;
    }
    51% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  // RESPONSIVE STYLING
  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;

    .left {
      padding-right: 0;
      margin-bottom: 2rem;
      text-align: left;
    }

    .right {
      form {
        .form-group,
        .form-check {
          text-align: left;
        }
      }
    }
  }

  @media (max-width: 480px) {
    padding: 15px;
    flex-direction: column;

    .left {
      h1 {
        font-size: 2rem !important;
      }

      h3,
      h2,
      p {
        font-size: 0.8rem !important;
      }
    }

    .right {
      form {
        .form-group {
          label {
            font-size: 0.8rem !important;
          }

          input,
          textarea {
            font-size: 0.8rem !important;
            width: 280px;
          }
        }

        .form-check {
          label {
            font-size: 0.7rem !important;
          }
        }

        button {
          font-size: 0.8rem !important;
          padding: 0.4rem 1rem !important;
        }
      }
    }
  }

  @media (max-width: 320px) {
    padding: 20px;
    flex-direction: column;

    .left {
      h1 {
        font-size: 1.5rem !important;
      }

      h3,
      h2,
      p {
        font-size: 0.7rem !important;
      }
    }

    .right {
      form {
        .form-group {
          label {
            font-size: 0.7rem !important;
          }

          input,
          textarea {
            font-size: 0.7rem !important;
            width: 250px;
          }
        }

        .form-check {
          label {
            font-size: 0.6rem !important;
          }
        }

        button {
          font-size: 0.7rem !important;
          padding: 0.3rem 0.8rem !important;
        }
      }
    }
  }
}
