<section class="contact-section">
    <div class="left">
      <h3>Contact me</h3>
      <h1>Let's work  <br> together</h1>
      <h2>Got a problem to solve?</h2>
      <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p>
      <p>Need a Frontend developer? <a href="#">Let's talk!</a></p>
    </div>
  
    <div class="right">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
       
        <div class="form-group" [ngClass]="{'error': isInvalid('name')}">
          <label for="name">What's your name?</label>
          <input type="text" id="name" formControlName="name" placeholder="Your name goes here" />
          <div class="error-message" *ngIf="isInvalid('name')">Oops! It seems your name is missing</div>
        </div>
  
        <div class="form-group" [ngClass]="{'error': isInvalid('email')}">
          <label for="email">What's your email?</label>
          <input type="email" id="email" formControlName="email" placeholder="youremail@email.com" />
          <div class="error-message" *ngIf="isInvalid('email')">Hoppala! Your email is required</div>
        </div>

        <div class="form-group" [ngClass]="{'error': isInvalid('message')}">
          <label for="message">How can I help you?</label>
          <textarea id="message" formControlName="message" placeholder="Hello Vanessa, I am interested in..."></textarea>
          <div class="error-message" *ngIf="isInvalid('message')">What do you need to develop?</div>
        </div>
       
        <div class="form-check">
          <label for="privacy">
            <img src="./../../../../assets/img/contact/unchecked.svg" class="unchecked-checkbox" alt="Unchecked" />
            <img src="./../../../../assets/img/contact/checked2.svg" class="checked-checkbox" alt="Checked" style="display: none;" />
          </label>
          <input type="checkbox" id="privacy" formControlName="privacy" (click)="toggleDisplay()" style="visibility: hidden; position: absolute;" />
          <label for="privacy">I've read the <a class="privacy-highlight" href="#">privacy policy</a> and agree to the processing of my data as outlined.</label>
        </div>
  
      
        <button type="submit" [disabled]="!isCheckedVisible()"><span>Say Hello</span></button>
      </form>
    </div>
  </section>
  