$accent-clr: #3dcfb6;
$bx-shdw: 0px 0px 41px 4px rgba(3, 218, 251, 0.15);
$ft-color: #f5f5f5;
$fira-ft: 'Fira Code';
$karla-ft: 'Karla';

.contact-section {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin: 0 auto;

  .left {
    flex: 1;
    padding-right: 32px;
    color: $ft-color;

    h3 {
      font-size: 1.5rem;
      color: $accent-clr;
      margin-bottom: 16px;
      font-family: $karla-ft;
    }

    h1 {
      font-size: 3rem;
      color: $accent-clr;
      margin-bottom: 24px;
      font-family: $fira-ft;
      font-weight: bold;
    }

    h2 {
      font-size: 1.25rem;
      color: $accent-clr;
      margin-bottom: 24px;
      font-family: $fira-ft;
    }

    p {
      margin-bottom: 24px;
      font-family: $karla-ft;
      a {
        color: $accent-clr;
        text-decoration: none;
        &:hover {
          color: white;
        }
      }
    }
  }

  .right {
    flex: 1;
    form {
      .form-group {
        margin-bottom: 1.5rem;
        position: relative;

        label {
          display: block;
          font-size: 1.25rem;
          color: $accent-clr;
          margin-bottom: 8px;
          font-family: $fira-ft;
        }

        input,
        textarea {
          width: 100%;
          padding: 0.5rem;
          background: none;
          border: none;
          border-bottom: 1px solid $accent-clr;
          color: $ft-color;
          font-size: 1rem;

          &::placeholder{
            font-family: $karla-ft;
          }
        }

        textarea {
          height: 100px;
          resize: none;
        }

        &.error input,
        &.error textarea {
          border-bottom: 1px solid red;
        }

        .error-message {
          color: red;
          font-size: 0.9rem;
          position: absolute;
          bottom: -20px;
        }
      }

      .form-check {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        input {
          display: none;
        }

        label {
          color: $ft-color;
          font-size: 1rem;
          cursor: pointer;
          img {
            width: 20px;
            height: 20px;
            margin-right: 0.5rem;
          }

          a {
            color: $accent-clr;
            text-decoration: none;

            &:hover {
              color: white;
            }
          }
        }
      }

      button {
        background: none;
        border: 1px solid white;
        color: white;
        padding: 0.75rem 1.5rem;
        border-radius: 25px;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background: $accent-clr;
          color: black;
        }

        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }
  }

  .unchecked-checkbox {
    display: block;
  }
  
  .checked-checkbox {
    display: none;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;

    .left {
      padding-right: 0;
      margin-bottom: 2rem;
    }

    .right {
      form {
        .form-group,
        .form-check {
          text-align: left;
        }
      }
    }
  }

  @media (max-width: 320px) {
    .left {
      h1 {
        font-size: 2.5rem;
      }

      h3,
      h2,
      p {
        font-size: 0.9rem;
      }
    }

    .right {
      form {
        .form-group {
          label {
            font-size: 1rem;
          }

          input,
          textarea {
            font-size: 0.9rem;
          }
        }

        .form-check {
          label {
            font-size: 0.8rem;
          }
        }

        button {
          font-size: 0.9rem;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
