<section class="contact-section">
  <div class="left">
    <h3>{{ 'contact.contactMe' | translate }}</h3>
    <h1>{{ 'contact.letsWork' | translate }} <br> {{ 'contact.together' | translate }}</h1>
    <h2>{{ 'contact.gotProblemToSolve' | translate }}</h2>
    <p>{{ 'contact.contactFormIntro' | translate }}.</p>
    <p>{{ 'contact.needFrontendDeveloper' | translate }} <a href="#contact">{{ 'contact.letsTalk' | translate }}</a></p>
  </div>

  <div class="right">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <!-- Name Input -->
      <div class="form-group required" [ngClass]="{'error': isInvalid('name'), 'success': isValid('name')}">
        <label for="name">{{ 'contact.nameLabel' | translate }}</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          placeholder="{{ 'contact.namePlaceholder' | translate }}"
          required
        />
        <!-- Error/Success Icons -->
        <label *ngIf="isInvalid('name')" for="name">
          <img class="form-icon" src="./../../../../assets/img/contact/error.png" alt="Error" />
        </label>
        <label *ngIf="isValid('name')" for="name">
          <img class="form-icon" src="./../../../../assets/img/contact/success.png" alt="Success" />
        </label>
        <!-- Error Message -->
        <div class="error-message" *ngIf="isInvalid('name')">
          {{ 'contact.nameError' | translate }}
        </div>
      </div>

      <!-- Email Input -->
      <div class="form-group required" [ngClass]="{'error': isInvalid('email'), 'success': isValid('email')}">
        <label for="email"> {{ 'contact.emailLabel' | translate }}</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder=" {{ 'contact.emailPlaceholder' | translate }}"
          required
        />
        <!-- Error/Success Icons -->
        <label *ngIf="isInvalid('email')" for="email">
          <img class="form-icon" src="./../../../../assets/img/contact/error.png" alt="Error" />
        </label>
        <label *ngIf="isValid('email')" for="email">
          <img class="form-icon" src="./../../../../assets/img/contact/success.png" alt="Success" />
        </label>
        <!-- Error Message -->
        <div class="error-message" *ngIf="isInvalid('email')">
          {{ 'contact.emailError' | translate }}
        </div>
      </div>

      <!-- Message Input -->
      <div class="form-group required" [ngClass]="{'error': isInvalid('message'), 'success': isValid('message')}">
        <label for="message">{{ 'contact.messageLabel' | translate }}</label>
        <textarea
          id="message"
          formControlName="message"
          placeholder="{{ 'contact.messagePlaceholder' | translate }}"
          required
        ></textarea>
        <!-- Error/Success Icons -->
        <label *ngIf="isInvalid('message')" for="message">
          <img class="form-icon" src="./../../../../assets/img/contact/error.png" alt="Error" />
        </label>
        <label *ngIf="isValid('message')" for="message">
          <img class="form-icon" src="./../../../../assets/img/contact/success.png" alt="Success" />
        </label>
        <!-- Error Message -->
        <div class="error-message" *ngIf="isInvalid('message')">
          {{ 'contact.messageError' | translate }}
        </div>
      </div>

      <!-- Privacy Checkbox -->
      <div class="form-check" [ngClass]="{'error': isInvalid('privacy')}">
        <label for="privacy">
          <img src="./../../../../assets/img/contact/unchecked.svg" class="unchecked-checkbox" alt="Unchecked"
               [ngStyle]="{'display': contactForm.get('privacy')?.value ? 'none' : 'block'}" />
          <img src="./../../../../assets/img/contact/checked2.svg" class="checked-checkbox" alt="Checked"
               [ngStyle]="{'display': contactForm.get('privacy')?.value ? 'block' : 'none'}" />
        </label>
        <input
          type="checkbox"
          id="privacy"
          formControlName="privacy"
          style="visibility: hidden; position: absolute;"
          required
        />
        <label for="privacy">
          {{ 'contact.privacyLabel1' | translate }} <a class="privacy-highlight" routerLink="imprint"> {{ 'contact.privacyLabel2' | translate }}</a>  {{ 'contact.privacyLabel3' | translate }}
        </label>
        <!-- Error Message -->
        <div class="error-message" *ngIf="isInvalid('privacy')">
          {{ 'contact.privacyError' | translate }}
        </div>
      </div>

      <!-- Submit Button -->
      <button type="submit" [disabled]="!contactForm.valid">
        <span>{{ 'contact.sayHello' | translate }}</span>
      </button>
    </form>
  </div>
</section>

<!-- Success Message -->
<section *ngIf="messageSent">
  {{ 'contact.messageSent' | translate }}
</section>
