<section class="portfolio" data-aos="fade-right">
    <div class="headline-wrapper">
        <h3>{{ 'portfolio.portfolio' | translate }}</h3>
        <h2>{{ 'portfolio.featuredProjects' | translate }}</h2>
        <p class="subline">
          {{ 'portfolio.subline' | translate }}</p>
    </div>
   
  
    <div class="project-wrapper">
        <div class="separator"></div>
    
        @for ( project of projects; track project) {
          <div class="project" (click)="openProject(project)">
            <div class="project-info">
              <h4>{{ project.name }}</h4>
              <div class="tech">
                @for ( tech of project.technologies; track tech) {
                  <p>{{ tech.name }}</p>
                  @if (!$last) {
                    <!-- vertical separator -->
                    <span></span> 
                  }
                }
              </div>
            </div>
            <div class="img-wrapper">
              <img class="preview-img" [src]="project.image" alt="{{ project.name }} preview" />
              <img class="hover-img" src="./../../../../assets/img/about-me/hover-img.svg" alt="" />
            </div>
          </div>
    
          <div class="separator"></div>
        }
      </div>
    
   
    @if (isDialogOpen) {
        <div class="project-dialog">
            <div class="dialog-content">

                <div class="left-section">
                    <div class="headlines">
                        <h1>{{ selectedProject.index }}</h1>
                        <h2>{{ selectedProject.name }}</h2>
                    </div>
                    
                    <h3>What is this project about?</h3>
                    <p>{{ selectedProject.description}}</p>

                    <div class="tech-stack">
                        @for ( tech of selectedProject.technologies; track tech) {
                            <div class="tech-item">
                                <img [src]="tech.icon" alt="{{ tech.name }} icon" />
                                <span>{{ tech.name }}</span>
                            </div>
                        }
                    </div>

                    <div class="buttons">
                        @for (link of selectedProject.links; track link) {
                            <a href="{{ link.url }}" target="_blank">{{ link.name }} ↗</a>
                        }
                    </div>
                </div>
    
                <div class="right-section">
                    <img [src]="selectedProject.image" alt="{{ selectedProject.name }} preview" />
                </div>
    
                <img class="close-btn" src="./../../../../assets/img/portfolio/close-btn.svg" (click)="closeDialog()" alt="Close" />
    
                <button class="next-project-btn" (click)="nextProject()">
                  {{ 'portfolio.nextProject' | translate }}
                    <span class="arrow-icon">
                        <img class="arrows-thin" src="./../../../../assets/img/portfolio/arrows-thin.svg" alt="">
                        <img class="arrows-thick" src="./../../../../assets/img/portfolio/arrows-thick.svg" alt="">
                    </span>
                </button>
            </div>
        </div>
    }
</section>










